<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置MyBatis运行环境-->
    <environments default="development">
        <environment id="development">
            <!--配置JDBC事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--配置数据源连接池-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--注册studentMapper.xml-->
    <!--注册studentPepositoy.xml-->
    <mappers>
        <mapper resource="com/mapper/studentMapper.xml"/>
        <mapper resource="com/repository/StudentRepository.xml"></mapper>
        <mapper resource="com/repository/StudentClassRepository.xml"></mapper>
        <mapper resource="com/repository/ClassaRepository.xml"></mapper>
    </mappers>

</configuration>